<nav class="overflow-x-visible-ns flex justify-between items-center center absolute w-100">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w8 flex-none">
		<img src="/img/logo_alt.svg" alt="Logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav
	<ul class="flex">
		{{ range $.Site.Home.AllTranslations }}
			{{ if not (eq .Language.Lang .Site.Language) }}
<li><a class="pa3 no-underline" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
			{{ end }}
{{ end }}
	</ul> -->

</nav>
