<div class="bg-white-1 ph3 pt5 pb0 mb0">

	<div class="mw7 center pt3">

		<div class="measure center mb5">

			<p class="f3 lh-title b mb2 savate">Hilf mit</p>
			<p>Wir sind interessiert an deiner Meinung! Hast du 5min Zeit unserern anonymen Fragebogen auszufüllen? Damit hilfst du uns, die Plattform zu verbessern.</p>

			<a href="/post" class="btn mb5">Fragebogen ausfüllen</a>

      <p class="f3 lh-title b mb2 savate">Bleib auf dem Laufenden</p>
			<p>Wir sind interessiert an deiner Meinung! Hast du 5min Zeit unserern anonymen Fragebogen auszufüllen? Damit hilfst du uns, die Plattform zu verbessern.</p>

      <a href="/post" class="btn  mb2">Newsletter abonnieren</a>

		</div>
	</div>
</div>
